
{% extends "header/dashboard.html" %}

{% block content %}
<center>
<div class=""> 
    <form action="" method="post">
        
        {% csrf_token %}
        <input type="hidden" name="date_form" value="true">
        <label for="date">Select Date:</label>
        <input type="date" id="date" name="date" required>
        <button type="submit">Submit</button>
    </form>
    <h3>Developer Task Tracker</h3>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Dev Email Address</th>
                <th>Number of Tasks</th>
                <th>Completed Tasks</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            {% for developer in developers %}
            <tr>
                <td>{{ developer.date }}</td>
                <td>{{ developer.user.username }}</td>
                <td>{{ developer.number_of_tasks }}</td>
                <td>{{ developer.no_of_complete }}</td>
                <td>{{ developer.remarks }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</center>

{% endblock %}
