
{% extends "header/dashboard.html" %}

{% block content %}
    <div class="question">What you are going to work today?</div>  
    <form class="todo-form" action="#" method="post" onsubmit="submitForm(event)">
        {% csrf_token %}
            <input type="hidden" name="addtask-form" value="true">
        <div class="acontainer">
        <div>
            <input type="text" id="work-name" name="work-name" placeholder="Task Name"  >
        </div>
        <div>
            <input type="number" id="hours" name="hours" placeholder="Time in Hr" >
        </div>
        <div>
            <select id="work-type" name="work-type"  >
                <option value="bug">Bug</option>
                <option value="dev">Development</option>
            </select>
        </div>
    </div>
        <center>
            <div class="save-button">
                <button type="submit" >ADD</button>
            </div>
        </center> 
    </form>


    
    <form class="todo-form" action="#" method="post" onsubmit="saveForm(event)">
        {% csrf_token %}
        <div id="task-list" class="container">
{% if assign %}
<p>{{completed_tasks}}/{{total_tasks}}<p>
<h2>Today's Tasks:</h2>
<ul>
    {% for i in assign %}
    <div class="task-container">
        <input type="checkbox" class="checkbox-custom" name="task" value="{{ i.date }}" {% if i.is_checked %} checked {% endif %}>
        <span class="task-label">{{ i.taskName }} -> Time taken: {{ i.taskTime }} hours | Type: {{ i.taskType }} |Created at:{{ i.created_at|time:"g:i A" }}</span>
    </div>
    {% endfor %}
</ul>
{% else %}
<p>No tasks Added</p>
{% endif %}
        </div> 

        <div class="remarks">
            <label for="remarks">Remarks:</label>
            <textarea id="remarks" name="remarks"></textarea>
        </div>

        <center>
            <div class="add-more">
                <button type="submit" >Save</button>
            </div>
        </center>

        
    </form>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    
function submitForm(event) {
    event.preventDefault(); 

    let tasksObject = {};
    tasksObject['form_type']='task_form';
    let taskName = document.getElementById('work-name').value;
    let hours = document.getElementById('hours').value;
    let workType = document.getElementById('work-type').value;
    if (taskName && hours && workType) {
    tasksObject['taskName']=taskName;
    tasksObject['taskTime']=hours;
    tasksObject['taskType']=workType;
    tasksObject['isChecked']=false;
    }
    else{
        alert('Please add all the task details before Submitting ');
        return; 
    }

    $.ajax({
            type: 'POST',
            url: '/dashboard/', // URL of your Django endpoint
            data: {
                tasksObject: JSON.stringify(tasksObject),
                csrfmiddlewaretoken: '{{ csrf_token }}' 
            },
            success: function(response) {
                alert('Tasks added successfully!');
                
                location.reload();
            },
            error: function(xhr, textStatus, errorThrown) {
                alert('Error saving tasks: ' + errorThrown);
            }
        });
        
}
function saveForm(event)
{
    let tasksObject = {};
    event.preventDefault(); 
    let remarks = document.getElementById('remarks').value;
    let checkboxes = document.querySelectorAll('.checkbox-custom');
    if (remarks.trim() === '' || checkboxes.length === 0) {
    alert('Please provide remarks Or Add Task');
    return;
    }

    let ischeck=[];
    checkboxes.forEach(function(checkbox) {
        if (checkbox.checked) {ischeck.push({'isc':true,});
        }
        else{ischeck.push({'isc':false,});
        }});
    tasksObject['Remarks'] = remarks;
    tasksObject['form_type']='remarks_form';
    tasksObject['check']=ischeck;
    $.ajax({
            type: 'POST',
            url: '/dashboard/', // URL of your Django endpoint
            data: {
                tasksObject: JSON.stringify(tasksObject),
                csrfmiddlewaretoken: '{{ csrf_token }}' // Ensure to include CSRF token
            },
            success: function(response) {
                alert('Tasks saved successfully!');
                document.getElementById('remarks').value = '';
                location.reload();
            },
            error: function(xhr, textStatus, errorThrown) {
                // Handle error if needed
                alert('Error saving tasks: ' + errorThrown);
               
            }
        });


}
</script>

{% endblock %}